h1{
	width: 1px;
	height: 1px;
	background-color: red;
}

.test{
	background-color: red;
}

#container{
	width: 1000px;
	height: 1000px;
}


#container div{
	
	outline: 1px solid black;
}

#container #grid{
	outline: none;
}

.this{
  float: left;
  width: 20px;
  height: 20px;
}

.clear-left{
  clear: left;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}